:root { 
	--bord: 1px solid #7a7676;
    --zebra: rgb(0, 0, 0);
}
* {
	box-sizing: border-box;
    justify-content: center;
}
table{
    border-collapse: collapse;
    margin: auto;

}
th, td{
    border: var(--bord);
}
caption{
    caption-side: bottom;
    color: rgb(1, 1, 1);
    padding: 10px;
    font-size: .85rem;
}
tbody tr:nth-child(even) {
	background-color: var(--zebra);
}
tr:first-child th{
    background-color: black;
    color: white;
    font-size: 20px;
}
tr:nth-child(2){
    background-color: black;
    color: white;
}